<div id="gallery">
	<ul>
		<li><a href="/gallery"><img src="http://www.jbmupholstery.com/images/work/slide1.jpg" alt="Slide 1"/></a></li>
		<li><a href="/gallery"><img src="http://www.jbmupholstery.com/images/work/slide2.jpg" alt="Slide 2"/></a></li>
		<li><a href="/gallery"><img src="http://www.jbmupholstery.com/images/work/slide3.jpg" alt="Slide 3"/></a></li>
	</ul>
	<div class="break"></div>
</div>

<div class="half" id="block1">
	<h2>Contact Us</h2>
	<a name="contact"></a>
	<p>Feel free free to contact us by phone at <b><a href="tel:786-361-7487">(786) 361-7487</a></b> or by email at <a href="mailto:service@jbmupholstery.com">service@jbmupholstery.com</a> with any inquiries you may have.</p>
	<p>We look forward to your call.</p>
	<a href="tel:786-361-7487"><div class="button">CALL</div></a>
	<div class="clear"></div>
	<a href="mailto:service@jbmupholstery.com"><div class="button">EMAIL</div></a>
	<div class="break"></div>
</div>

<div class="half" id="block2">
	<h2>About Us</h2>
	<p>We've been in the upholstery business for <b>30 years</b>.</p>
	<p>We are located in <b>Naples, FL</b>, but provide service for customers in <b>Miami, FL</b> and nearby residences/businesses.</p>
	<div class="break"></div>
</div>