<div class="work-gallery">
	<ul id="wSlider">
		<li>
			<a href="#" data-featherlight="#gallery1"><img class="prev" src="http://www.jbmupholstery.com/images/gallery/1.jpg"></a>
			<div class="hide">
				<div id="gallery1" class="popout"><img src="http://www.jbmupholstery.com/images/gallery/1.jpg"></div>
			</div>
		</li>
		<li>
			<a href="#" data-featherlight="#gallery2"><img class="prev" src="http://www.jbmupholstery.com/images/gallery/2.jpg"></a>
			<div class="hide">
				<div id="gallery2" class="popout"><img src="http://www.jbmupholstery.com/images/gallery/2.jpg"></div>
			</div>
		</li>
		<li>
			<a href="#" data-featherlight="#gallery7"><img class="prev" src="http://www.jbmupholstery.com/images/gallery/7.jpg"></a>
			<div class="hide">
				<div id="gallery7" class="popout"><img src="http://www.jbmupholstery.com/images/gallery/7.jpg"></div>
			</div>
		</li>
		<li>
			<a href="#" data-featherlight="#gallery8"><img class="prev" src="http://www.jbmupholstery.com/images/gallery/8.jpg"></a>
			<div class="hide">
				<div id="gallery8" class="popout"><img src="http://www.jbmupholstery.com/images/gallery/8.jpg"></div>
			</div>
		</li>
		<li>
			<a href="#" data-featherlight="#gallery6"><img class="prev" src="http://www.jbmupholstery.com/images/gallery/6.jpg"></a>
			<div class="hide">
				<div id="gallery6" class="popout"><img src="http://www.jbmupholstery.com/images/gallery/6.jpg"></div>
			</div>
		</li>
		<li>
			<a href="#" data-featherlight="#gallery3"><img class="prev" src="http://www.jbmupholstery.com/images/gallery/3.jpg"></a>
			<div class="hide">
				<div id="gallery3" class="popout"><img src="http://www.jbmupholstery.com/images/gallery/3.jpg"></div>
			</div>
		</li>
		<li>
			<a href="#" data-featherlight="#gallery4"><img class="prev" src="http://www.jbmupholstery.com/images/gallery/4.jpg"></a>
			<div class="hide">
				<div id="gallery4" class="popout"><img src="http://www.jbmupholstery.com/images/gallery/4.jpg"></div>
			</div>
		</li>
		<li>
			<a href="#" data-featherlight="#gallery5"><img class="prev" src="http://www.jbmupholstery.com/images/gallery/5.jpg"></a>
			<div class="hide">
				<div id="gallery5" class="popout"><img src="http://www.jbmupholstery.com/images/gallery/5.jpg"></div>
			</div>
		</li>
		<li>
			<a href="#" data-featherlight="#gallery9"><img class="prev" src="http://www.jbmupholstery.com/images/gallery/9.jpg"></a>
			<div class="hide">
				<div id="gallery9" class="popout"><img src="http://www.jbmupholstery.com/images/gallery/9.jpg"></div>
			</div>
		</li>
		<li>
			<a href="#" data-featherlight="#gallery10"><img class="prev" src="http://www.jbmupholstery.com/images/gallery/10.jpg"></a>
			<div class="hide">
				<div id="gallery10" class="popout"><img src="http://www.jbmupholstery.com/images/gallery/10.jpg"></div>
			</div>
		</li>
	</ul>
</div>