<div id="gallery">
	<ul>
		<li><a href="/gallery"><img src="http://www.jbmupholstery.com/images/work/slide1.jpg" alt="Slide 1"/></a></li>
		<li><a href="/gallery"><img src="http://www.jbmupholstery.com/images/work/slide2.jpg" alt="Slide 2"/></a></li>
		<li><a href="/gallery"><img src="http://www.jbmupholstery.com/images/work/slide3.jpg" alt="Slide 3"/></a></li>
	</ul>
	<div class="break"></div>
</div>

<div class="half" id="block1">
	<img src="http://www.jbmupholstery.com/images/interface/icons/home.png" alt="" class="icon"/>
	<div class="break"></div>
	<p><b>Home</b></p>
		<ul>
			<li>Love Seats</li>
			<li>Sectionals</li>
			<li>Automans</li>
			<li>Couches</li>
			<li>Stools</li>
		</ul>
	<div class="break"></div>
</div>

<div class="half" id="block2">
	<img src="http://www.jbmupholstery.com/images/interface/icons/boat.png" alt="" class="icon"/>
	<div class="break"></div>
	<p><b>Vehicles</b></p>
		<ul>
			<li>Cars</li>
			<li>Trucks</li>
			<li>Motorcycles</li>
			<li>Boats</li>
			<li>Yachts</li>
		</ul>
	<div class="break"></div>
</div>

<div class="half separator">
	<img src="http://www.jbmupholstery.com/images/interface/icons/seperator.png" alt="break image" class="break-img"/>
</div>

<div class="half separator">
	<img src="http://www.jbmupholstery.com/images/interface/icons/seperator.png" alt="break image" class="break-img"/>
</div>

<div class="half" id="block3">
	<img src="http://www.jbmupholstery.com/images/interface/icons/business.png" alt="" class="icon"/>
	<div class="break"></div>
	<p><b>Businesses</b></p>
		<ul>
			<li>Curtains</li>
			<li>Sofas</li>
			<li>Chairs</li>
		</ul>
	<div class="break"></div>	 
</div>

<div class="half" id="block4">
	<img src="http://www.jbmupholstery.com/images/interface/icons/textile.png" alt="" class="icon"/>
	<div class="break"></div>
	<p><b>Textiles</b></p>
		<ul>
			<li>Fabricss</li>
			<li>Threads</li>
			<li>Misc Upholstery Products</li>
		</ul>
		<div class="break"></div>	 
</div>

<div class="half separator">
	<div class="break"></div>
</div>